{% if template == "page.azexo-85804908722" %}<script type="text/javascript" src="{{ template | append: '.js' | asset_url }}" defer></script><script type="text/javascript" src="{{ 'azexo.js' | asset_url }}" defer></script>{% endif %}