{% comment %} on_sale {% endcomment %}
{% assign variant = product.selected_or_first_available_variant %}
{%- assign compare_at_price = variant.compare_at_price -%}
{%- assign price = variant.price -%}
{% assign on_sale = false %}
{% if compare_at_price > price %}
  {% assign on_sale = true %}
{% endif %}

<div class="sf-prod__info-wrapper">
    <div class="sf-prod__info{% if on_sale %} sf-product--onsale{% endif %}">
      {% render 'main-product-blocks', section: section, product: product %}

      {%- for block in section.blocks -%}
        {% if block.type == 'addons' and block.settings.show_ask_a_question %}
          {% render 'form__ask-a-question' %}
          {% break %}
        {% endif %}
      {%- endfor -%}

      <div class="addons-block">
        <div
          id="fox-product-bundle-inside"
          data-fox-app="true"
          data-section-product-bundle
        ></div>
      </div>
    </div>
</div>
<style>
	.rc-template__legacy-radio{
      border: 1px solid #c8cdd4;
      border-radius: 10px;
    }
    .rc-option__onetime{
      border-bottom: 1px solid #c8cdd4;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .rc-option__price{
      display:block;
      margin-left: 30px;
    }
    .rc-option__subsave{
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .rc-option--active .rc-radio__label{
      font-weight: 700;
    }
</style>
