{% assign current_variant = product.selected_or_first_available_variant %}

<div class="custom-recharge-widget-wrapper">
  <input type="hidden" data-plan-discount="">
  {% assign discount_percent = product.selling_plan_groups[0].selling_plans[0].price_adjustments[0].value | plus: 0 %}
  <div class="recharge-container d-flex" data-recharge-container>
    <div class="recharge-block" data-type="onetime" data-recharge-block>
      <input type="radio" id="recharge-label_onetile" name="purchase_option" data-rc-type> 
      <label for="recharge-label_onetile" class="recharge-label">
        <div>One-time purchase</div>
        <div class="full-width">
          <span data-price-onetime>{{ current_variant.price | money }}</span> — Purchase this time only
        </div>
      </label>
    </div>
    <div class="recharge-block is-active" data-type="subscription" data-recharge-block>
      {% for group in product.selling_plan_groups %}
        <div class="subscription-group" data-id="{{ group.id }}">
          <input type="radio" id="recharge-label_subscription" name="purchase_option" data-rc-type checked>
          <label for="recharge-label_subscription" class="recharge-label">
            {% assign _percent = 100 | minus: discount_percent %}
            <div>
              <span data-recharge-discount-percent>Subscribe & Save {{ discount_percent }}%</span>
            </div>
            <div class="full-width">
              <span data-price-subsave>{{ current_variant.price | times: _percent | divided_by: 100.0 | round | money }}</span> — Cancel anytime
            </div>
            <div class="recharge-selling-plan" data--hidden>
              <label>Deliver Every:</label>
              <div class="recharge-selling-plan-wrapper d-flex">
                {% for plan in product.selling_plan_groups[0].selling_plans %}
                  <div class="recharge-plan-item">
                    <input type="radio" id="plan-{{ plan.id }}" name="properties[selling_plan]" data-id="{{ plan.id }}" value="{{ plan.id }}" {% if forloop.first %}checked{% endif %} data-selling-plan>
                    <label for="plan-{{ plan.id }}">{{ plan.options[0]['value'] }}</label>
                  </div>
                {% endfor %}
              </div>
            </div>
          </label>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  
  var purchase_opt = document.querySelectorAll('input[name="purchase_option"]');
  purchase_opt.forEach(function (opt) {
    opt.addEventListener('change', (event) => {
      var recharge_block = document.querySelectorAll('.recharge-block');
      recharge_block.forEach(function (block) {
        block.classList.remove('is-active');
      })
      event.target.closest('.recharge-block').classList.add('is-active');

      var type = event.target.closest('.recharge-block').getAttribute('data-type');
      // var $target = null;

      var $onetime = document.querySelector('[data-radio-onetime]');
      var $subscribe = document.querySelector('[data-radio-subsave]');
      var $plans = document.querySelector('select[data-plans-dropdown]');

      if(type == 'onetime') {
        $subscribe.checked = false;
        $onetime.checked = true;
        $plans.removeAttribute('name');
        $onetime.click();
      }
      else if (type == 'subscription') {
        $onetime.checked = false;
        $subscribe.checked = true;
        $plans.setAttribute('name', 'selling_plan');
        $subscribe.click();
      }
    })
  })

  var plan_opt = document.querySelectorAll('input[data-selling-plan]');
  plan_opt.forEach(function (opt) {
    opt.addEventListener('change', (event) => {
      var plan_id = event.target.value;
      var $plans = document.querySelector('select[data-plans-dropdown]');
      $plans.value = event.target.value;
    })
  })
</script>