{% if content_for_header contains "tmenu" %}
<script type="text/javascript" src="https://sdk.qikify.com/tmenu/app-v5.js?token=zaOrPVC2b6XSrTJn8YmoOITxQ6pK6uMs&shop=rico-farm.myshopify.com" defer="defer"></script>
{% include 'qikify-smartmenu-data' %}
{% endif %}