{% render 'pagefly-settings' %} <link rel="stylesheet" href="{{ 'pagefly.e2a5c537.css' | asset_url }}" media="print" onload="this.media='all'">
		 <style>@font-face { font-family: "Intro"; src: url("https://cdn.shopify.com/s/files/1/0595/7808/9650/files/Intro-Black-Caps.woff2?v=1632767600") format("woff2"), url("https://cdn.shopify.com/s/files/1/0595/7808/9650/files/Intro-Black-Caps.woff?v=1632767600 ") format("woff"); } .__pf  .custom-font  {   font-family: "Intro";}</style> <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	{% unless product.id == null %}window.__pageflyProducts["{{product.id}}"] = {
		id: {{ product.id | json }},
		handle: {{ product.handle | json }},
		title: {{ product.title | json }},
		type: {{ product.type | json }},
		url: {{ product.url | within: collection | json }},
		vendor: {{ product.vendor | json }},
		variants: {{ product.variants | json }},
		options: {{ product.options | json }},
		media: {{ product.media | json }},
		has_only_default_variant: {{ product.has_only_default_variant | json }},
		options_with_values: {{ product.options_with_values | json }},
		selected_variant: {{ product.selected_variant | json }},
		selected_or_first_available_variant: {{ product.selected_or_first_available_variant | json }},
		tags: {{ product.tags | json }},
		template_suffix: {{ product.template_suffix | json }},
		featured_image: {{ product.featured_image | json }},
		featured_media: {{ product.featured_media | json }},
		images: {{ product.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};{% endunless %}
	</script>{% if collection_277366079666 == null %}{%- assign collection_277366079666 = collections["new-in"] -%}{% endif %} {% if collection_276394311858 == null %}{%- assign collection_276394311858 = collections["frontpage"] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["277366079666"] = {{collection_277366079666 | json }};window.__pageflyCollections["276394311858"] = {{collection_276394311858 | json }};
	</script><div style="opacity:0" class="sc-bKoJNE hTFgFD __pf" id="__pf"><div data-pf-type="Body" class="sc-dvXYtj iduHXF pf-1_"><div data-pf-type="Layout" class="sc-ckTSus kVjkXt pf-2_"><div data-pf-type="Section" class="sc-eKYRIR llyViG pf-3_"><div style="--cw:1327px" class="sc-hmbstg iriXCP"><div class="sc-hiKfDv dRsyqq pf-4_ pf-r pf-c-cm" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:5;--c-lg:7"><div data-pf-type="Column" class="sc-TtZnY gnBPmJ pf-5_"><h1 data-pf-type="Heading" class="sc-dPaNzc kXWuay pf-6_ custom-font"><span data-pf-type="Text" class="sc-ikXwFM hZHGfK pf-8_">local and organic food delivered!&nbsp;</span></h1><p class="sc-daBunf bWmajK pf-9_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ikXwFM hZHGfK pf-11_">We are local growers specialized in exotic lettuces and leafy greens, rare fruits and selected produce. We support and partner with local farms and bring you organic and sustainable products. Shop green!</span></p><a href="/collections/our-boxes" target="_self" data-pf-type="Button" class="sc-gXfVKN dciwqh pf-12_"><span data-pf-type="Text" class="sc-ikXwFM hZHGfK pf-14_">shop our Subscription Boxes</span><i class="sc-Arkif eJDRKz pf-13_ pfa pfa-long-arrow-right" data-pf-type="Icon"></i></a></div></div><div class="pf-c" style="--c-xs:12;--c-sm:7;--c-lg:5"><div data-pf-type="Column" class="sc-TtZnY gnBPmJ pf-15_"><img src="https://cdn.shopify.com/s/files/1/0595/7808/9650/t/4/assets/avocadohass_1080x-1632068507783_500x.jpeg?v=1632068508" srcSet="https://cdn.shopify.com/s/files/1/0595/7808/9650/t/4/assets/avocadohass_1080x-1632068507783.jpeg?v=1632068508 1536w, https://cdn.shopify.com/s/files/1/0595/7808/9650/t/4/assets/avocadohass_1080x-1632068507783_500x.jpeg?v=1632068508 320w" width="506" height="506" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" data-pf-type="Image" class="sc-khIgEk hQhHpX pf-16_ pf-hide"/></div></div></div></div></div><div data-pf-type="Section" class="sc-eKYRIR llyViG pf-17_"><div style="--cw:1170px" class="sc-hmbstg iriXCP"><div class="sc-hiKfDv dRsyqq pf-18_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-TtZnY gnBPmJ pf-19_"><h2 data-pf-type="Heading" class="sc-dPaNzc kXWuay pf-20_ custom-font"><span data-pf-type="Text" class="sc-ikXwFM hZHGfK pf-22_">Fresh Farm-to-Table Groceries</span></h2><p class="sc-daBunf bWmajK pf-23_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ikXwFM hZHGfK pf-25_">Get the best food at 30% less than grocery prices!</span></p><div data-pf-type="Tabs" class="sc-euEtCV ckgOM pf-26_"><div data-pf-type="TabsMenu" class="sc-fHCHyC crlswz pf-27_"><button type="button" data-pf-tab-active="false" class="sc-dkQUaI kCZtuw pf-28_ custom-font pf-anchor" data-pf-type="TabHeader"><span data-pf-type="Text" class="sc-ikXwFM hZHGfK pf-30_">NEW ARRIVALS</span></button><button type="button" data-pf-tab-active="true" class="sc-dkQUaI kCZtuw pf-31_ custom-font pf-anchor" data-pf-type="TabHeader"><span data-pf-type="Text" class="sc-ikXwFM hZHGfK pf-33_">STAPLE ITEMS</span></button></div><div data-pf-type="TabContentWrapper" class="sc-dtLLSn dpehyt pf-34_"><div data-pf-expandable="true" style="display:none" data-pf-type="TabsContent" class="sc-WZYut jLeSfx pf-35_ pf-bg-lazy"><div class="sc-Jgsit byIYQu pf-36_ pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:2;--ew-md:4" data-pf-type="ProductList">{% assign collection_277366079666 = collections["new-in"] %}{% assign defaultProduct = product %}{% paginate collection_277366079666.products by 4 %}{% for product in collection_277366079666.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-jLqRGG bcRTMJ pf-37_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-hiKfDv dRsyqq pf-38_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-TtZnY gnBPmJ pf-39_"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-bShgHC aBwtF pf-40_">{% assign images = product.images %}<div style="--w-xs:0" class="sc-eiQWpL Ufrky pf-r-dg"><div data-href="{{ product.url | within: collection }}" data-pf-type="MasterImage" style="order:0" class="sc-exqIPC igFoGR"><img src="{{ product.featured_image | img_url: "xNaN", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="lazy" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-juXuNZ KigMW pf-hide pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-jlQhrW iHvgiu pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-iXquSf bwRbQ pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-hYIrvc fUygGX pf-41_ {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="lazy" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-ecQkzk vPeNx"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-ecQkzk vPeNx"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url | within: collection }}" data-pf-type="ProductTitle" class="sc-gGGFjW gAApEQ pf-43_">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-product-price="true" data-pf-type="ProductPrice" class="sc-hYRTwp iRaesw pf-44_">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-iXeHaJ gSmAh pf-45_"><span>Add to Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | within: collection  | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }},
					quantity: {% assign quantity = '' %}{% for variant in product.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}

				};</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div><div data-pf-expandable="true" style="display:block" data-pf-type="TabsContent" class="sc-WZYut jLeSfx pf-48_ pf-bg-lazy"><div class="sc-Jgsit byIYQu pf-49_ pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:2;--ew-md:4" data-pf-type="ProductList">{% assign collection_276394311858 = collections["frontpage"] %}{% assign defaultProduct = product %}{% paginate collection_276394311858.products by 4 %}{% for product in collection_276394311858.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-jLqRGG bcRTMJ pf-50_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-hiKfDv dRsyqq pf-51_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-TtZnY gnBPmJ pf-52_"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-bShgHC aBwtF pf-53_">{% assign images = product.images %}<div style="--w-xs:0" class="sc-eiQWpL Ufrky pf-r-dg"><div data-href="{{ product.url | within: collection }}" data-pf-type="MasterImage" style="order:0" class="sc-exqIPC igFoGR"><img src="{{ product.featured_image | img_url: "x270", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="lazy" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-juXuNZ KigMW pf-hide pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-jlQhrW iHvgiu pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-iXquSf bwRbQ pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-hYIrvc fUygGX pf-54_ {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="lazy" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-ecQkzk vPeNx"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-ecQkzk vPeNx"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url | within: collection }}" data-pf-type="ProductTitle" class="sc-gGGFjW gAApEQ pf-56_ custom-font">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-product-price="true" data-pf-type="ProductPrice" class="sc-hYRTwp iRaesw pf-57_">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-iXeHaJ gSmAh pf-58_"><span>Add to Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | within: collection  | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }},
					quantity: {% assign quantity = '' %}{% for variant in product.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}

				};</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div></div></div></div></div></div></div></div><div data-pf-type="Section" class="sc-eKYRIR llyViG pf-61_"><div style="--cw:1170px" class="sc-hmbstg iriXCP"><div class="sc-hiKfDv dRsyqq pf-62_ pf-r pf-c-cm" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-TtZnY gnBPmJ pf-63_"><div class="sc-hiKfDv dRsyqq pf-64_ pf-r pf-c-cb pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-TtZnY gnBPmJ pf-65_"><div data-pf-type="Block" class="sc-fXazdy UjHkE pf-66_"><h3 data-pf-type="Heading" class="sc-dPaNzc kXWuay pf-67_ custom-font"><span data-pf-type="Text" class="sc-ikXwFM hZHGfK pf-69_">Subscription Boxes</span></h3><p class="sc-daBunf bWmajK pf-70_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ikXwFM hZHGfK pf-72_">Our subscription boxes bring the best of weekly deals with a mix of local and organic produce, fruits and Veggies</span></p></div></div></div></div><div class="sc-hiKfDv dRsyqq pf-73_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-href="/products/subscription-big-produce-box" data-target="_self" data-pf-type="Column" class="sc-TtZnY gnBPmJ pf-74_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-dPaNzc kXWuay pf-75_ custom-font"><span data-pf-type="Text" class="sc-ikXwFM hZHGfK pf-77_">BIG PRODUCE BOX</span></h3><h4 data-pf-type="Heading" class="sc-dPaNzc kXWuay pf-78_"><span data-pf-type="Text" class="sc-ikXwFM hZHGfK pf-80_">Ideal for 3 to 6 People</span></h4><h4 data-pf-type="Heading" class="sc-dPaNzc kXWuay pf-130_"><span data-pf-type="Text" class="sc-ikXwFM hZHGfK pf-129_">SUBSCRIBE &amp; SAVE 5%</span></h4></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-href="/products/subscription-small-produce-box" data-target="_self" data-pf-type="Column" class="sc-TtZnY gnBPmJ pf-81_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-dPaNzc kXWuay pf-82_ custom-font"><span data-pf-type="Text" class="sc-ikXwFM hZHGfK pf-84_">SMALL PRODUCE BOX</span></h3><h4 data-pf-type="Heading" class="sc-dPaNzc kXWuay pf-85_"><span data-pf-type="Text" class="sc-ikXwFM hZHGfK pf-87_">Ideal for 1 to 2 People</span></h4><h4 data-pf-type="Heading" class="sc-dPaNzc kXWuay pf-133_"><span data-pf-type="Text" class="sc-ikXwFM hZHGfK pf-132_">SUBSCRIBE &amp; SAVE 5%</span></h4></div></div></div></div></div></div></div></div><div data-pf-type="Section" class="sc-eKYRIR llyViG pf-88_"><div style="--cw:1170px" class="sc-hmbstg iriXCP"><div class="sc-hiKfDv dRsyqq pf-89_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-TtZnY gnBPmJ pf-90_"><h2 data-pf-type="Heading" class="sc-dPaNzc kXWuay pf-91_ custom-font"><span data-pf-type="Text" class="sc-ikXwFM hZHGfK pf-93_">Shop by Collection</span></h2></div></div></div><div class="sc-hiKfDv dRsyqq pf-94_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-TtZnY gnBPmJ pf-95_"><div class="sc-kizEQm irzWzB pf-96_ pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:2;--ew-sm:4;--ew-lg:5" data-pf-type="CollectionListing">
				{% assign defaultCollection = collection %}
				{% assign cHandles = "cheese-dairy,fruits,fresh-leafy-greens,leafy-greens,our-boxes" | split: "," %}
				{% for cHandle in cHandles %}
					{% assign collection = collections[cHandle] %}
				<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="CollectionBox" class="sc-fIxmyt cnkbFD pf-97_"><a href="{{ collection.url }}" style="--ih-xs:285px" data-pf-type="CollectionImage" class="sc-ellfGf cIhAPr pf-98_"><img src="{{ collection.image | img_url: 'master' }}" loading="lazy" alt="{{ collection.image.alt }}" width="{{ collection.image.width }}" height="{{ collection.image.height }}"/></a><h3 data-collection-type="title" data-collection-id="{{ collection.id }}" data-pf-type="CollectionTitle" class="sc-irKDMX cwoGFd pf-99_"><a href="{{ collection.url }}" data-link="inherit">{{ collection.title }}</a></h3></div></div>
				{% endfor %}
				{% assign collection = defaultCollection %}
				</div></div></div></div></div></div><div data-pf-type="Section" class="sc-eKYRIR llyViG pf-100_"><div style="--cw:1170px" class="sc-hmbstg iriXCP"><div class="sc-hiKfDv dRsyqq pf-101_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-TtZnY gnBPmJ pf-102_"><img src="https://cdn.shopify.com/s/files/1/0595/7808/9650/t/4/assets/cutting2--edited-1632153845543_396x.jpg?v=1632153846" srcSet="https://cdn.shopify.com/s/files/1/0595/7808/9650/t/4/assets/cutting2--edited-1632153845543.jpg?v=1632153846 1536w" width="396" height="242" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" data-pf-type="Image" class="sc-khIgEk hQhHpX pf-103_"/><h3 data-pf-type="Heading" class="sc-dPaNzc kXWuay pf-104_ custom-font"><span data-pf-type="Text" class="sc-ikXwFM hZHGfK pf-106_">Join our Ambassador Program</span></h3><p class="sc-daBunf bWmajK pf-107_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ikXwFM hZHGfK pf-109_">Get up to 10% in commissions on successful referrals.   Earn commissions from all qualifying purchases, not just the products you advertised. Plus, our competitive conversion rates help you maximize your earnings.</span></p><a href="/pages/become-an-ambassador" target="_self" data-pf-type="Button" class="sc-gXfVKN dciwqh pf-110_"><span data-pf-type="Text" class="sc-ikXwFM hZHGfK pf-112_">Become an Ambassador</span><i class="sc-Arkif eJDRKz pf-111_ pfa pfa-long-arrow-right" data-pf-type="Icon"></i></a></div></div></div></div></div><div data-pf-type="Section" class="sc-eKYRIR llyViG pf-113_"><div class="sc-hmbstg iriXCP"><div class="sc-hiKfDv dRsyqq pf-114_ pf-r pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-TtZnY gnBPmJ pf-115_"><div class="sc-hiKfDv dRsyqq pf-116_ pf-r pf-c-cm pf-r-eh" style="--s-xs:15px;--s-lg:4px" data-pf-type="Row"><div class="pf-c pf-hide" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:3"><div data-pf-type="Column" class="sc-TtZnY gnBPmJ pf-117_ pf-bg-lazy pf-hide"></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:3"><div data-pf-type="Column" class="sc-TtZnY gnBPmJ pf-118_ pf-bg-lazy"></div></div><div class="pf-c pf-hide" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:3"><div data-pf-type="Column" class="sc-TtZnY gnBPmJ pf-119_ pf-bg-lazy pf-hide"></div></div><div class="pf-c pf-hide" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:3"><div data-pf-type="Column" class="sc-TtZnY gnBPmJ pf-120_ pf-bg-lazy pf-hide"></div></div></div></div></div></div></div></div><div data-pf-type="Section" class="sc-eKYRIR llyViG pf-121_"><div style="--cw:1170px" class="sc-hmbstg iriXCP"><div class="sc-hiKfDv dRsyqq pf-122_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-TtZnY gnBPmJ pf-123_"><h2 data-pf-type="Heading" class="sc-dPaNzc kXWuay pf-124_ custom-font"><span data-pf-type="Text" class="sc-ikXwFM hZHGfK pf-126_">Newsletter Sign Up</span></h2><form target="_blank" action="" method="POST" data-pf-type="MailChimp" class="sc-dsXzNU esUsVR pf-127_"><input type="text" placeholder="ENTER_YOUR_EMAIL" name="EMAIL" required=""/><button><span>SUBSCRIBE</span></button></form></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.11.6","shopDomain":"rico-farm.myshopify.com","elementData":{"pf-40_":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","id":"e2601ea7-5421-4b81-a731-9b585ffd51c6","_type":"ProductImage"},"pf-42_":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","id":"1ea75421-1b81-4731-9b58-5ffd51c62a87","_type":"ProductBadge"},"pf-53_":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","id":"fd51c62a-87ba-40e9-9794-ef21a6720408","_type":"ProductImage"},"pf-55_":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","id":"c62a87ba-f0e9-4794-af21-a6720408a53d","_type":"ProductBadge"}},"pageTitle":"Home","pageType":"home","pageId":"e2a5c537-0063-48f6-9a5e-c469bf6ad0ee","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"selectedFonts":{"Raleway":{"400":0,"500":0,"600":0},"Playfair Display":{"400":0,"700":0}},"trackingIDs":[{"elementIndex":40,"elementId":"e2601ea7-5421-4b81-a731-9b585ffd51c6","elementType":"ProductImage","elementName":"ProductImage"},{"elementIndex":43,"elementId":"a754211b-81a7-419b-985f-fd51c62a87ba","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementIndex":45,"elementId":"211b81a7-319b-485f-bd51-c62a87baf0e9","elementType":"ProductATC","elementName":"ProductATC"},{"elementIndex":53,"elementId":"fd51c62a-87ba-40e9-9794-ef21a6720408","elementType":"ProductImage","elementName":"ProductImage"},{"elementIndex":56,"elementId":"2a87baf0-e957-44ef-a1a6-720408a53d4b","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementIndex":58,"elementId":"baf0e957-94ef-41a6-b204-08a53d4b1b95","elementType":"ProductATC","elementName":"ProductATC"}],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.11.6/core/helper.js" async></script>