{% render 'page-title', title: page.title, container: true %}
{%- if page.content != blank -%}{% include 'wholesale-page-form' %}
  <div class="container mx-auto xl:pb-16 sm:pb-10 pb-8">
    <div class="prose">
      {{ page.content }}{% include 'wholesale-page-form' %}
    </div>
  </div>
{%- endif -%}
